@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');

:root {
  --color-darkGray: hsl(0, 0%, 59%);
  --color-veryDarkGray: hsl(0, 0%, 17%);
}

* {
  font-family: 'Rubik', sans-serif;
  margin: 0;
  padding: 0;
}

html,
body,
#root {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}